$color: #fff;

.grid {
  max-height: 75vh;
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.box {
  flex: auto;
  width: calc(100% / 5 - 8px);
  height: calc(9vw + 6px);
  margin: 4px;
  display: flex;
  background-color: rgba($color, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: .8;
  transition: .2s ease;
  border-radius: 2px;
  outline: none;
  @media (max-width: 1024px) {
    width: calc(25% - 24px);
    height: calc(10vw + 11px);
  }
  &:hover {
    opacity: 1;
    background-color: rgba($color, 0.75);
  }
  &:focus {
    box-shadow: 0 0 10px rgba($color, 0.75);
  }
  svg {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    padding: .5vw 0;
  }
}
