
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba($color, 0.25);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba($color, 0.35);
}
::-webkit-scrollbar-thumb:active {
  background: $color;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
  border-radius: 4px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,.2);
}


.search {
  position: relative;
  width: calc(85% - 8px);
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 4px;
}
.magnify {
  position: absolute;
  top: 0;
  right: 8px;
  height: 40px;
  width: 40px;
  fill: rgba($color, 0.25);
  transition: fill .2s ease;
  pointer-events: none;
}
.find {
  display: block;
  width: 100%;
  padding: 4px;
  padding-right: 50px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba($color, 0.5);
  font-size: 24px;
  color: $color;
  /* text-shadow: 0 1px 0 rgba(#000, 0.5); */
  outline: none;
  transition: border-bottom-color .2s ease;
}
.find::placeholder {
  color: rgba($color, 0.25);
  transition: color .2s ease;
}
.find:focus {
  border-bottom-color: rgba($color, 0.75);
}
.find:focus::placeholder {
  color: rgba($color, 0.75);
}
.find:focus + .magnify {
  fill: rgba($color, 0.75);
}
.label {
  color: rgba($color, 0.25);
  font-size: 12px;
  padding-left: 1em;
}
.reset {
  position: absolute;
  right: 55px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  font-size: 40px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}
.find:valid ~ .reset {
  opacity: 1;
  visibility: visible;
}
.tag {
  display: inline-block;
  padding: 1px 2px;
  border-radius: 1px;
  background: rgba(#000, 0.5);
  cursor: pointer;
  transition: .2s ease;
  &:hover {
    background: rgba(#000, 0.25);
    color: rgba($color, 0.75);
  }
}
