<!DOCTYPE html>
<html class="no-js" itemscope itemtype="http://schema.org/Person" lang="ru">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <meta name="viewport" content="width=device-width">

  <meta name="theme-color" content="#000">

  <link rel="canonical" hreflang="ru-RU" href="http://grlv.ru/how/" />
  <link rel="alternate" hreflang="en-US" href="http://gurylev.com/how/" />

  <link rel="stylesheet" href="css/homepage.css">
  <link rel="shortcut icon" href="/i/favicon.png">

  <link rel="publisher" href="https://plus.google.com/100738358447395554565">
  <link rel="profile" href="http://microformats.org/profile/hcard">
</head>
<body class="homepage">
  <div class="wrap">
    <form class="search">
      <input type="text" class="find" placeholder="Type first symbol..." tabindex="0" required="required" autofocus>
      <svg class="magnify"><use xlink:href="i/svg/homepage.symbol.svg#search"></use></svg>
      <div class="reset">×</div>
      <div class="label">for example, <span class="tag">social</span>, <span class="tag">code</span>, <span class="tag">english</span>, <span class="tag">torrent</span></div>
    </form>
    {% block content %}{% endblock %}
  </div>
  <div class="tips">
    <div class="h">TODO</div>
    <p>- add <a href="https://youtu.be/gfHXekzD7p0?t=8m10s" tabindex="-1">service workers</a></p>
    <p>- add tags, web search</p>
    <p>- add indicate about messages</p>
    <p>- add professional hashtags timeline</p>
  </div>
<script src="/js/homepage.js"></script>
</body>
</html>
