  <header class="header vcard">
    <h1 itemprop="name" class="header__title fn n">
      <span class="given-name" itemprop="givenName">Andrey</span>
      <span class="family-name" itemprop="familyName">Gurylev</span>
    </h1>
    <p class="header__about">Front-end developer. You can find me in St. Petersburg.</p>
  </header>
