<!DOCTYPE html>
<html class="no-js" itemscope itemtype="http://schema.org/Person" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="keywords" content="{{ keywords }}" />
  <meta name="description" content="{{ description }}" />

  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/i/favicon.png">

  <!-- Schema.org markup (Google) -->
  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="{{ description }}">
  <meta itemprop="image" content="{{ image }}">

  <!-- Twitter Card markup-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@AndrewGurylev">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:creator" content="@AndrewGurylev">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image" content="{{ image }}">
  <meta name="twitter:image:alt" content="{{ description }}">

  <!-- Open Graph markup (Facebook, Pinterest) -->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ image }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:site_name" content="{{ image }}" />
</head>
<body class="layout">
  <link rel="stylesheet" href="css/index.css">
  {% include 'blocks/header.njk' %}
	{% block content %}{% endblock %}
</body>
</html>
