<!DOCTYPE html>
<html class="no-js" itemscope itemtype="http://schema.org/Person" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="keywords" content="{{ keywords }}" />
  <meta name="description" content="{{ description }}" />

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="/i/favicon.png">

  <!-- Schema.org markup (Google) -->
  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="{{ description }}">
  <meta itemprop="image" content="{{ image }}">

  <!-- Twitter Card markup-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@AndrewGurylev">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:creator" content="@AndrewGurylev">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image" content="{{ image }}">
  <meta name="twitter:image:alt" content="{{ description }}">

  <!-- Open Graph markup (Facebook, Pinterest) -->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ image }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:site_name" content="{{ image }}" />

  <link rel="publisher" href="https://plus.google.com/100738358447395554565">
  <link rel="profile" href="http://microformats.org/profile/hcard">

  <link rel="canonical" hreflang="ru-RU" href="http://grlv.ru/how/" />
  <link rel="alternate" hreflang="en-US" href="http://gurylev.com/how/" />

  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="preconnect" href="https://ajax.googleapis.com">
</head>
<body class="layout">
  {% include 'blocks/header.njk' %}
	{% block content %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28966330-2', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
  (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39149360 = new Ya.Metrika({ id:39149360, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39149360" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>
