<section role="main" class="about">
  <div class="about__content">
    <p>I work as a Front-end developer in <a href="http://grlv.ru/l/wrike" target="_blank">Wrike</a>. I'm <%- (new Date().getFullYear() - new Date(1993, 0, 7).getFullYear()) %> years old. Since 2007, I make websites for all browsers and platforms. I testing it on various virtual machines and devices. I keep sites using Gitflow revision control system, hosted by Bitbucket and GitLab.</p>
    <p>I work using "<a href="http://grlv.ru/l/fff-en" target="_blank">flexible functional</a>" and "<a href="http://grlv.ru/l/prjpeg" target="_blank">progressive jpeg</a>" principles. I track my time and tasks.</p>
    <p>I like walking, coffee, order, minimalism, poetry, and music.</p>
    <p>I'm interested in people and interfaces for people. I like when it's comfortable and organized.</p>
    <p>I consider that it is possible to find a compromise on any issue.</p>
  </div>
</section>
