<!DOCTYPE html>
<html class="no-js" itemscope itemtype="http://schema.org/Person" lang="ru">
<head>
	<meta charset="utf-8">
	<title><%- title %></title>
	<meta name="keywords" content="принципы, подход" />
	<meta name="description" content="Мои принципы работы - это то, что требуется от современного верстальщика" />
  <meta name="viewport" content="width=device-width">

	<link rel="canonical" hreflang="en-us" href="http://grlv.ru/how/"  itemprop="url"/>
	<link rel="alternate" hreflang="en-us" href="http://gurylev.com/how/" />

  <link rel="stylesheet" href="css/style.css">

  <link rel="publisher" href="https://plus.google.com/100738358447395554565">
  <link rel="profile" href="http://microformats.org/profile/hcard">


</head>
<body class="layout">
  <% include ../header/header %>
  <% include ../about/about %>
  <% include ../portfolio/portfolio %>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="js/app.js"></script>

<!-- BS:SNIPPET--><script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.9.12.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
<!-- BS:SNIPPET:END-->
<!-- BS:SNIPPET--><script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.2.9.12.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
<!-- BS:SNIPPET:END-->
</body>
</html>
