<!DOCTYPE html>
<html class="no-js" itemscope itemtype="http://schema.org/Person" lang="ru">
<head>
	<meta charset="utf-8">
	<title><%- title %></title>
	<meta name="keywords" content="принципы, подход" />
	<meta name="description" content="<%- description %>" />
	<meta name="viewport" content="width=device-width">

	<meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="preconnect" href="//ajax.googleapis.com">

	<link rel="canonical" hreflang="ru-RU" href="http://grlv.ru/how/" itemprop="url"/>
	<link rel="alternate" hreflang="en-US" href="http://gurylev.com/how/" />

	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="/i/favicon.png">

	<link rel="publisher" href="https://plus.google.com/100738358447395554565">
	<link rel="profile" href="http://microformats.org/profile/hcard">
</head>
<body class="layout">
	<%- include('../header/header') -%>
	<%- include(content) -%>
</body>
</html>
