<div class="grid">
{% asyncAll item in list %}
{% if item.type == 'svg' %}
  <a class="box" href="{{ item.url }}" title="{{ item.title }}" data-tags="{{ item.name }} {{ item.title | lower }} {{ item.tags }}" style="background-color: {{ item.color }}"><svg><use xlink:href="i/svg/homepage.symbol.svg#{{ item.name }}" /></svg></a>
{% else %}
  <a class="box {{ item.name }}" href="{{ item.url }}" title="{{ item.title }}" data-tags="{{ item.name }} {{ item.title | lower }} {{ item.tags }}"></a>
{% endif %}
{% endall %}
</div>
