.header {
  display: block;
  font-family: Candara, fantasy;
  text-align: center;
  padding: 2em 1em;
  font-size: 6vw;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 1em;
  background-image: url("/i/border.svg");
  @media (min-width: 500px) {
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__logo {
    width: 5em;
    height: 5.4em;
    margin: 0 auto;
    text-align: center;
  }
  &:hover &__logo {
    animation: spin 2s linear forwards;
  }
  &__title {
    line-height: 1em;
  }
  &__about {
    font-size: 7vw;
    line-height: 1.1em;
    @media (min-width: 500px) {
      font-size: 1em;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  },
  100% {
    transform: rotate(0deg);
  }
}

.social {
  display: flex;

  width: 100%;
  max-width: 400px;
  margin: auto;

  justify-content: center;
  &__link {
    flex: 1 1 100%;
  }
  &__icon {
    width: 50px;
    height: 50px;
    fill: #544;
    transition: fill .2s ease;
    &_linkedin:hover {
        fill: #287bbc;
    }
    &_vkontakte:hover {
        fill: #2b587a;
    }
    &_facebook:hover {
        fill: #3b5998;
    }
    &_twitter:hover {
      fill: #4099ff;
    }
  }
}
