*, *:after, *:before {
    box-sizing: border-box;
}
.layout {
  display: flex;

  margin: 0;
  padding: 0;

  color: #544;
  background-color: #f7f6ee;

  font: 16px/1.4em Lucida Grande, Candara, Arial, sans-serif;

  flex-flow: column;
  font-smoothing: antialiased;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  a {
    transition: color .2s ease;
    color: #e30;
  }
  a:hover,
  a:focus {
    color: #005580;
    outline: none;
  }
  a:active {
    color: #e30;
    outline: none;
  }
}
