<div class="portfolio">
  <div id="grid-container">
    <div class="cbp-item cbp-singlePage">
        <a href="#driver" title="custom title 1">
            <img src="i/thumb/driver.jpg" alt="custom alt 1" width="100%">
        </a>
    </div>
    <div class="cbp-item cbp-singlePage">
        <a href="#" title="custom title 2">
            <img src="i/thumb/ecoholzhaus.jpg" alt="custom alt 2" width="100%">
        </a>
    </div>
    <div class="cbp-item cbp-singlePage">
        <a href="#" title="custom title 3">
            <img src="i/thumb/hublist.png" alt="custom alt 3" width="100%">
        </a>
    </div>
    <div class="cbp-item cbp-singlePage">
        <a href="#" title="custom title 3">
            <img src="i/thumb/kupe-help.png" alt="custom alt 3" width="100%">
        </a>
    </div>
    <div class="cbp-item cbp-singlePage">
        <a href="#" title="custom title 1">
            <img src="i/thumb/kvsutki.png" alt="custom alt 1" width="100%">
        </a>
    </div>
    <div class="cbp-item cbp-singlePage">
        <a href="#" title="custom title 2">
            <img src="i/thumb/mukhin.jpg" alt="custom alt 2" width="100%">
        </a>
    </div>
    <div class="cbp-item cbp-singlePage">
        <a href="#" title="custom title 3">
            <img src="i/thumb/new-stones.png" alt="custom alt 3" width="100%">
        </a>
    </div>
    <div class="cbp-item cbp-singlePage">
        <a href="#" title="custom title 3">
            <img src="i/thumb/veipa.jpg" alt="custom alt 3" width="100%">
        </a>
    </div>
  </div>
</div>
<div id="driver"></div>
